.gradient_hero_text {
  /** TEXT GRADIENT */
  color: #5270dc;
  background-image: -webkit-linear-gradient(225deg, #5270dc 41%, #fc0fba 72%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.gradient_hero_sub_text {
  /** TEXT GRADIENT */
  color: #828282;
  background-image: -webkit-linear-gradient(225deg, #828282 0%, #242424 50%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.gradient_skills_bg {
  /** TEXT GRADIENT */
  color: #cdcdcd;
  background-image: -webkit-linear-gradient(225deg, #cdcdcd 0%, #f5f5f5 50%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
